<div class="site-logo">
  {% include '@atoms/04-images/logos/logo-header.twig' %}
</div>

<header class="site-header">
  <div class="site-header__search-button">
    {% include '@atoms/06-buttons/04-search-button.twig' %}
  </div>
  <div class="site-header__menu-button">
    {% include '@atoms/06-buttons/03-menu-button.twig' %}
  </div>
</header>
