.heading-1 {
  width: 90%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  color: $white;
  @include font-size(1.2);
  @include medium {
    width: 80%;
    @include font-size(2);
  }
}
