.blog-details {
  width: 100%;
  margin-bottom: 1.5em;

  @extend .table;
  @include font-size(1);

  @include medium {
    width: 40%;
    margin-top: 0.5em;
    margin-left: 1em;
    float: right;
    line-height: 1.3;
  
    @include font-size(0.9);
  }

  td {
    vertical-align: top;
  
    @extend .table__cell;
  
    background-color: lighten($indian-khaki, 28%);
  }

  &__label {
    width: 30%;
    text-align: right;
    color: $gray-light;
  
    @include medium {
      width: 40%;
    }
  }

  &__content {
    width: 70%;
  
    @include medium {
      width: 60%;
    }
  }
}
