<div class="hero-video__quote">
  <h2 class="hero-video__quote-quotation">
    "There are no words that can tell the hidden spirit of the wilderness, that can reveal its mystery, its melancholy, and its charm."
  </h2>
  <h3 class="hero-video__quote-attribution">
    Theodore Roosevelt
  </h3>
</div>