.mailchimp-signup-subscribe-form {
  input {
    width: 100%;
  }
  .button {
    width: 50%;
    margin-top: 1em;
    margin-bottom: 4em;
  }
}

.mailchimp-newsletter-mergefields {
  margin-top: 2em;
}