.search-page-form {
  padding-top: 2em;
  .form-wrapper {
    display: flex;
  }

  .form-item {
    width: 100%;
    margin-bottom: 0;
    input {
      width: calc(100% - 1em);
    }
  }
  
  .form-item__label {
    display: none;
  }
}