.menu.menu-footer {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
}
.menu-footer__item {
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  text-align: center;
}
.menu-footer__link {
  display: block;
  padding-top: 0.2em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  width: 100%;
  background-repeat: no-repeat;
  font-weight: 700;
  @include font-size(1.25);
  &:link,
  &:visited {
    color: $white;
    border-bottom: none;
  }
}
.menu-footer__link:hover {
  transition: all 0.3s ease-in;
  background-color: rgba(250, 250, 250, 0.5);
  &:link,
  &:visited {
    color: $links;
  }
}