// Mailchimp.

.mailchimp-signup-subscribe-form {
  input {
    width: 100%;
  }

  .button {
    width: 50%;
    margin-top: 1em;
    margin-bottom: 4em;
  }
}

.mailchimp-newsletter-mergefields {
  margin-top: 2em;
}

// Checkbox.

.form-item--checkboxes,
.form-item--checkbox__item {
  @include list-reset;
}

// Radio.

.form-item--radios,
.form-item--radio__item {
  @include list-reset;
}

// Textfields.

.form-item {
  color: $gray;
  margin-bottom: 1em;
  max-width: 32em;

  @include clearfix;
}

.form-item__label {
  display: block;
  font-weight: 600;
  color: $gray;

  @include small {
    display: block;
    margin-right: 2%;
    padding: 0.6em 0;
  }
}

.form-item__textfield {
  border: 1px solid $gray;
  padding: 0.6em;

  &:focus {
    border-color: $links;
    outline: 2px solid $links;
  }

  &::-webkit-input-placeholder {
    color: $gray;
  }

  &:-moz-placeholder {
    color: $gray;
  }

  &::-moz-placeholder {
    color: $gray;
  }

  &:-ms-input-placeholder {
    color: $gray;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    max-width: 31em;
  }
}

textarea:focus,
input:focus {
  outline: none;
  border-color: $links;
}
