.main-content {
  width: 100%;
  margin: 2em auto 0 auto;
  background-image: url(../images/trees.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0,0,0);
  @include medium {
    width: 800px;
  }
  ul {
    margin: 0 2em;
    @include medium {
      margin: 0 8em;
    }
  }
  form {
    margin: 0 2em;
    @include medium {
      margin: 0 8em;
    }
  }
}

.main-content ul.menu-social-media {
  margin: 0 2em;
}

.body-image {
  margin-bottom: 1em;
  .image__caption {
    margin: 0 auto;
    border-bottom: 1px solid #ededed;
  }
}

.vertical-image {
    margin-top: 0;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
  @include medium {
    max-width: 550px;
    margin: 0 auto;
  }
  .image__caption {
    border-bottom: 1px solid #ededed;
    p {
      margin-top: 0;
      margin-right: 1em;
      margin-left: 0;
      @include medium {
        margin-left: 1.5em;
      }
    }
  }
}

.contact-disclaimer {
  margin-bottom: 2em;
  padding: 1em 2em;
  border: 1px solid $gray-lightest;
  background-color: lighten($indian-khaki, 28%);
  @include medium {
    margin-top: 0;
    margin-right: 8em;
    margin-bottom: 2em;
    margin-left: 8em;
    padding: 1em;
  }
  p {
    margin: 0;
    padding: 0;
    line-height: 1.1;
    @include font-size(1);
  }
}