.search-results-page h2,
.search-results-page h3 {
  margin: 0 !important;
}
.search-results-page .ais-SearchBox-submitIcon,
.search-results-page .ais-SearchBox-resetIcon {
  fill: white !important;
  height: 1.5em !important;
  width: 1.5em !important;
}
.search-results-page .ais-SearchBox-reset[hidden=""] {
  display: none !important;
}
.search-results-page .ais-SearchBox-input {
  border: 1px solid #666 !important;
  margin-bottom: 2em !important;
  padding: 0.6em !important;
}
.search-results-page .ais-SearchBox-input:focus {
  border-color: #984a2d !important;
  outline: 2px solid #984a2d !important;
}
.search-results-page .ais-SearchBox-submit,
.search-results-page .ais-SearchBox-reset {
  position: relative !important;
  top: 0.35em !important;
  margin-left: 0.25em !important;
  padding: 0.65em 0.65em !important;
  background-color: #984a2d !important;
  border: none !important;
  color: white !important;
  cursor: pointer !important;
  line-height: 1em !important;
  display: inline-block !important;
  text-decoration: none !important;
  text-align: center !important;
  text-transform: uppercase !important;
}
.search-results-page .ais-SearchBox-submit:hover,
.search-results-page .ais-SearchBox-reset:hover {
  background-color: #273246 !important;
}
.search-results-page .ais-SearchBox-submitIcon svg {
  fill: white !important;
}
.search-results-page mark.ais-Snippet-highlighted,
.search-results-page mark.ais-Highlight-highlighted {
  font-style: italic !important;
  font-weight: bold !important;
  background-color: transparent !important;
}
.search-results-page ul.ais-Hits-list {
  margin: 0 0 1em 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}
.search-results-page li.ais-Hits-item {
  margin-bottom: 1.5em !important;
  padding: 0 !important;
}
.search-results-page li.ais-Hits-item p {
  line-height: 1.2 !important;
}
.search-results-page .ais-PoweredBy {
  padding: 0 1em !important;
  margin-bottom: 3em !important;
}
.search-results-page .ais-PoweredBy a {
  display: inline-block !important;
  text-decoration: none !important;
  position: relative !important;
  top: 0.25em !important;
  text-decoration: none !important;
  border: none !important;
}
.search-results-page .ais-PoweredBy:hover {
  background-color: transparent !important;
}
.search-results-page .ais-PoweredBy span {
  display: inline-block !important;
  padding: 0 0.15em 0 0 !important;
}
.search-results-page .ais-Pagination {
  margin: 0.5em 0.1em !important;
  list-style: none !important;
  text-align: center !important;
  padding: 1.5em 0 !important;
}
.search-results-page .ais-Pagination-list {
  padding: 0 !important;
  margin: 0 !important;
}
.search-results-page .ais-Pagination-item {
  display: inline-block !important;
  margin: 0 0.5em !important;
  padding: 0.3em !important;
  width: 2em !important;
  height: 2em !important;
  cursor: pointer !important;
  display: inline-block !important;
  background-color: transparent !important;
  border: none !important;
}
.search-results-page a.ais-Pagination-link {
  display: inline-block !important;
  margin: 0 0.5em !important;
  padding: 0.3em !important;
  width: 2em !important;
  height: 2em !important;
  cursor: pointer !important;
  border: none !important;
}
.search-results-page a.ais-Pagination-link:hover {
  border: none !important;
}
.search-results-page
  .ais-Pagination-link--selected.ais-Pagination-link--selected {
  color: #984a2d !important;
}
.search-results-page .ais-Pagination-item--firstPage .ais-Pagination-link,
.search-results-page
  .ais-Pagination-item.ais-Pagination-item--nextPage
  .ais-Pagination-link,
.search-results-page .ais-Pagination-item--previousPage .ais-Pagination-link {
  font-weight: bold !important;
}
.search-results-page .ais-Pagination-item--disabled {
  display: none !important;
}
