<ul class="blog-pager">
    <li class="blog-pager__previous">
      {% if prev %}
        <span>&laquo; Previous</span>{{ prev }}
      {% endif %}
    </li>

    <li class="blog-pager__next">
      {% if next %}
        <span>Next &raquo; </span>{{ next }}
      {% endif %}
    </li>
</ul>