// Hero Video.

.hero-video__player {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.hero-video__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6em;
  width: 100vw;
  height: 100vh;
}

.quote-img {
  position: relative;
  display: block;
  width: 95%;
  height: auto;
  padding: 20px;
  resize: both;
  overflow: auto;

  @include medium {
    width: 80%;
  }
}

.hero-video__player:after {
  position: absolute;
  z-index: -8;
  height: 70%;
  width: 100%;
  bottom: 0;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), transparent);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  content: "";
}

.content--scroll .hero__image-img {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  transition: -webkit-filter 2s;
  transition: -moz-filter 2s;
  transition: -o-filter 2s;
  transition: -ms-filter 2s;
  transition: filter 2s;
}
