@mixin button($alt: false) {
  background-color: $links;
  border:none;
  color: $white;
  cursor: pointer;
  font-family: $body;
  line-height: 1em;
  padding: 1.8em 1em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  @include font-size(0.8);
  @include small-med {
    padding: 1.3em 1em;
    @include font-size(1);
  }

  &:link,
  &:visited {
    color: $white;
  }

  &:hover {
    background-color: $links--hover;
  }

  @if $alt {
    @include font-size(.7);
    background-color: $links;
    padding: .4em .6em .3em;

    &:hover {
      background-color: $links--hover;
    }
  }
}

button:focus {
  outline:0;
}

.button,
a.button {
  @include button();

  &--alt {
    @include button($alt: true);
    font-weight: 600;
  }

  &--alt-2 {
    background-color: $gray-lightest;
    color: $black;
    @include font-size(.8);
    font-weight: 600;
    line-height: 1.4em;
    text-transform: none;

    &:link,
    &:visited {
      color: $black;
    }

    &:hover {
      background-color: $gray-lighter;
    }
  }
}

a.button {
  // needed to override base theme CSS
  -moz-appearance: none;
  -webkit-appearance: none;
}

.menu-button__toggle,
.search-button__toggle {
  position: relative;
  z-index: 3;
  overflow: hidden;
  height: 2em;
  margin-top: 0.5em;
  padding: 0.2em 0.4em 0.4em 2em;
  text-transform: uppercase;
  color: $links;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: -1.5em;
    left: -1.5em;
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center center;
    transition: all 0.3s ease-in;
  }
}

.menu-button__toggle:before {
  background-image: url('../images/icons/compass.svg');
  transform: rotate(0deg);
}

.search-button__toggle:before {
  background-image: url('../images/icons/search-sticky.svg');
}

.menu-button__toggle:hover {
  transition: all 0.3s ease-in;
  &:before {
    top: -1.55em;
    left: -1.55em;
    transform: rotate(45deg);
  }
}

.search-button__toggle:hover {
  color: $links;
  transition: all 0.3s ease-in;
  &:before {
    top: -1.7em;
    left: -1.5em;
    transform: rotate(5deg);
  }
}

.sticky .menu-button__toggle,
.sticky .search-button__toggle {
  color: $links;
  transition: all 0.3s ease-in;
}

.menu-button__text,
.search-button__text {
  display: none;
  @include small-med {
    display: block;
    @include font-size(0.9);
  }
}